$white: #fff;
$side_blue_dark: #253141;
$side_blue_light: #2f3e51;
$light_orange: #ffb340;
$light_gray: #999;
$black: #434a54;
$alert_red: red;

.notification {
  .notice {
    background-color: $light_orange;
    color: $white;
    text-align: center;
  }

  .alert {
    background-color: $alert_red;
    color: $white;
    text-align: center;
  }
}
.mdc-snackbar {
  z-index: 8;
  margin: 8px;
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  pointer-events: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}