.title-class__index{
  a{
    text-decoration: none;
    color: black;
  }
}


.screenshot{
  text-align: center;
}

.wrapper-menu{
  margin-left: 16px;
  margin-right: 16px;
}

@media (max-width: 1040px) {
.wrapper-menu-index{
  height: 100vh;
}
}

@media (max-width: 640px) {
  .wrapper-menu-index{
    height: 60vh;
  }
  }

.footer-container{
  margin-left: 16px;
  margin-right: 16px;
}
.submit_area{
  margin-bottom: 40px;
}